/*************************************************
    GENERAL STYLES
 *************************************************/
:root {
  --bar-clr: rgb(44, 62, 80);
  --title-w-clr: #ffff;
  --title-b-clr: #000;
  --footer-clr: rgb(58, 84, 109);
  --accent-clr: rgb(26, 188, 156);
}

/*************************************************
  TOP BAR
 *************************************************/
#logo a {
  font-weight: 600;
  font-size: clamp(1.3rem, 3.5vw, 2rem);
  color: var(--title-w-clr);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--accent-clr);
}

.nav-link {
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--title-w-clr);
  text-transform: uppercase;
}

.top-bar {
  background-color: var(--bar-clr);
}

.fa-bars {
  color: var(--title-w-clr);
  font-size: clamp(1.6rem, 3vw, 3rem);
  cursor: pointer;
  display: none;
}

/*************************************************
  JUMBO SECTION
 *************************************************/
.jumbo {
  background-color: var(--accent-clr);
}

.hero-avatar img {
  max-width: 100%;
}

.hero-avatar {
  width: min(50vw, 300px)
}

.hero-text {
  text-transform: uppercase;
  color: var(--title-w-clr);
  font-weight: 700;
  font-size: clamp(1rem, 10vw, 3.5rem);
}

.hero-subheading {
  text-transform: uppercase;
  color: var(--title-w-clr);
  font-size: clamp(.6rem, 4vw, 1.4rem);
}

.decoration .fa-star {
  color: var(--title-w-clr);
  font-size: clamp(1rem, 7vw, 2rem);
}

.decoration span:before,
.decoration span:after {
  background-color: var(--title-w-clr);
  content: "";
  display: inline-block;
  height: 4px;
  border-radius: 10px;
  width: min(25vw, 250px);
}

/*************************************************
  PORTFOLIO SECTION
 *************************************************/
.portfolio {
  background-color: var(--title-w-clr);
}

.portfolio-text {
  color: var(--title-b-clr);
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(1rem, 10vw, 3rem);
}

.decoration-blck .fa-star {
  color: var(--title-b-clr);
  font-size: clamp(1rem, 7vw, 2rem);
}

.decoration-blck span:before,
.decoration-blck span:after {
  background-color: var(--title-b-clr);
  content: "";
  display: inline-block;
  height: 4px;
  border-radius: 10px;
  width: min(25vw, 250px);
}

.portfolio-card img {
  max-width: 100%;
}









/* Section About */
.about {
  background-color: var(--accent-clr);
}

.about-title {
  background-color: var(--title-b-clr);
  border: dashed 2px var(--accent-clr);
  height: 50px;
}

.left-text,
.right-text {
  height: 150px;
  background-color: var(--title-b-clr);
  border: dashed 2px var(--border-clr);
}

.btn-download {
  background-color: var(--title-b-clr);
  border: dashed 2px var(--border-clr);
  height: 50px;
}

/* Section Contact Me */
.contact-me {
  background-color: var(--bar-clr);
}

.contact {
  background-color: var(--title-b-clr);
  border: dashed 2px var(--border-clr);
  height: 400px;
}

/* Footer */
.footer-top {
  background-color: var(--accent-clr);
}

.footer-bottom {
  background-color: var(--bar-clr);
}

.debug {
  height: 100px;
  background-color: var(--title-b-clr);
  border: dashed 2px var(--border-clr);
}





/*************************************************
  RESPONSIVE
 *************************************************/
@media all and (max-width: 992px) {
  .fa-bars {
    display: block;
  }

  .navbar-nav {
    display: none;
  }
}