/*************************************************
    GENERAL STYLES
 *************************************************/
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --body-clr: #99AA38;
  --bg-clr: #595758;
  --title-clr: #ffff;
  --subtitle-clr: #000;
  --border-clr: #F6AE2D;
  --nested-clr: #402039;
}

/* debug */
[class*="col"] {
  background-color: var(--body-clr);
  border: dashed 2px var(--border-clr);
}

[class*="offset-"] {
  background-color: var(--body-clr);
  min-height: 50px;
}

a {
  color: var(--title-clr);
  font-weight: 600;
  text-decoration: none;
}

/*************************************************
  DEBUG
 *************************************************/
/* Top Bar */
.top-bar .row {
  height: 100px;
}

.logo,
.navigation {
  height: 50px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

.top-bar {
  background-color: var(--bg-clr);
  height: 100px;
}

/* Hero/Jumbo */
.jumbo {
  background-color: var(--nested-clr);
}

.hero-avatar {
  height: 200px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

.decoration {
  height: 50px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

.hero-text,
.hero-subheading {
  height: 100px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

/* Section Portfolio */
.portfolio {
  background-color: var(--bg-clr);
}

.title {
  height: 100px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

.card {
  height: 250px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

/* Section About */
.about {
  background-color: var(--nested-clr);
}

.about-title {
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
  height: 50px;
}

.left-text,
.right-text {
  height: 150px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}

.btn-download {
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
  height: 50px;
}

/* Section Contact Me */
.contact-me {
  background-color: var(--bg-clr);
}

.contact {
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
  height: 400px;
}

/* Footer */
.footer-top {
  background-color: var(--nested-clr);
}

.footer-bottom {
  background-color: var(--bg-clr);
}

.debug {
  height: 100px;
  background-color: var(--subtitle-clr);
  border: dashed 2px var(--border-clr);
}